{
  email {$ACME_EMAIL}
}

{$DOMAIN_ERRORS} {
  encode zstd gzip
  reverse_proxy glitchtip:8000
}

{$DOMAIN_TASKS} {
  encode zstd gzip
  reverse_proxy plane:80
}

{$DOMAIN_FLOWS} {
  encode zstd gzip
  reverse_proxy n8n:5678
}